<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaBuilders</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body style="margin: 0; padding: 0; background-color: #f0f8ff;">

<div style="background-color: #add8e6; padding: 10px; text-align: center;">
    <header>
        <img src="../static/images/logo/Logo.png" alt="BetaBuilders Logo" width="200" height="auto">
    </header>
</div>

<footer>
    <p style="font-family: monospace; text-align: center;">&copy; 2024 BetaBuilders. All rights reserved.</p>
</footer>
</body>
</html>