<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaBuilders: Place Order</title>
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
</head>
<body>
    <header>
        <a href="../static/home-page.html">
            <img src="../static/images/logo/Logo.png" alt="Company Logo" style="height: 50px; width: auto;">
        </a>
    </header>
    <div class="place-order-box">
        <img id="ordered-item-image" alt="Ordered Item Image">
        <div id="ordered-item-details">
            <h3 id="ordered-item-name"></h3>
            <p id="ordered-item-price"></p>
        </div>
        <div>
            <!-- Fill out boxes for customers -->
            <!-- Add your input fields here -->
        </div>
        <button onclick="placeOrder()">Place Order</button>
    </div>

    <script src="../static/js/place-order.js"></script>
</body>
</html>
