<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetaBuilders: Order Confirmed</title>
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
</head>
<body style="background-image: url('../static/images/logo/Driver.jpeg')">
    <header>
        <a href=../static/home-page.html>
            <img src="../static/images/logo/Logo.png" alt="Company Logo" style="height: 50px; width: auto;">
        </a>
    </header>
    <div class="centered-content" style="width: 50%; margin: 0 auto; padding: 20px; border: 2px solid white; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.5); text-align: center;">
        <h2 style="color: white;">Order confirmed.</h2>
        
        <p style="color: white;">Give your driver some time. They're on their way!</p>
        
        <p id="delivery-timer" style="color: white;">Time Remaining: </p>
        
        <form th:action="@{/order}" method="post" style="margin-top: 20px;">
            <input type="button" value="I received my order" class="received-order-btn" onclick="markOrderReceived()" style="background-color: green; color: white; margin-right: 10px;">
            <input type="button" value="Cancel Order" onclick="cancelOrder()" style="background-color: red; color: white;">
        </form>
        
        <div class="search-link" style="margin-top: 20px;">
            <a href="../templates/search-restaurants.html" style="color: pink;">Still hungry? Keep browsing.</a><br>
            <br>
            <a href="../templates/my-orders.html" style="color: pink;">Go back to My Orders.</a>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/script/track-order.js"></script>
</html>
